name: Import experiment
on:
  workflow_dispatch:
    inputs:
      experiment_id:
        description: ID of the experiment in Nimbus
        required: true
      issue_number:
        description: Reference issue number (leave empty to create one)
        required: false
        default: ""

env:
  EXP_ID: ${{ github.event.inputs.experiment_id }}
  ISSUE_NR: ${{ github.event.inputs.issue_number }}

jobs:
  import:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: 'pip'
          cache-dependency-path: '.github/requirements.txt'
      - name: Install Python dependencies
        run: |
          pip install -r .github/requirements.txt
      - name: Generate localization file and create issue if necessary
        run: >
          python .github/scripts/import_experiment.py
          --id "$EXP_ID"
          --issue "$ISSUE_NR"
          --repo ${{ github.repository }}
          --toml l10n.toml
          --token ${{ secrets.API_GITHUB_TOKEN }}
      - name: Store ENV variables
        id: env-variables
        run: |
          # If a new issue was created, need to use the issue number from experiments.json
          if [ "$ISSUE_NR" = "" ]; then
            issue_number=$(jq -r '."$EXP_ID" | .issue' .github/storage/experiments.json)
          else
            issue_number=$ISSUE_NR
          fi
          echo "issue_number=${issue_number}" >> $GITHUB_OUTPUT
      - name: Create pull request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.API_GITHUB_TOKEN }}
          branch: "exp-${{ env.EXP_ID }}"
          author: l10n-bot <actions@users.noreply.github.com>
          commit-message: "Set up localization for experiment ${{ env.EXP_ID }}"
          title: "Set up localization for experiment ${{ env.EXP_ID }}"
          body: "See issue https://github.com/${{ github.repository }}/issues/${{ steps.env-variables.outputs.issue_number }}"
      - name: Add comment to issue
        run: >
          gh issue comment ${{ steps.env-variables.outputs.issue_number }}
          --repo ${{ github.repository }}
          --body "Created pull request: ${{ steps.cpr.outputs.pull-request-url }}"
        env:
          GH_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
